<nav class="navbar fixed-top">
  <a class="navbar-brand" href="#">
    <img src="{{ "/assets/images/logo-symbol.svg" | relative_url }}" width="30" height="30"
      class="d-inline-block align-top" alt="" loading="lazy">
    <b>arzov</b> umatch
  </a>
  <form class="form-inline my-2 my-lg-0">
    <a title="GitHub" id="github-btn" target="_blank"
      href="https://github.com/{{ site.github }}">
    </a>
    <img title="Dark/Light"
      id="theme-toggle" onclick="modeSwitcher()">
  </form>
</nav>