<div id="sidebar-left">
  <ul class="nav flex-column">
    {% for item in site.data.sidebar-left %}
      <li>
        <a href="{{ item.link | relative_url }}">
          <b>{{ item.name }}</b>
        </a>
        <ul class="nav flex-column sub-1">
          {% for item in item.subs %}
            <li>
              <a href="{{ item.link | relative_url }}">
                {{ item.name }}
              </a>
              <ul class="nav flex-column sub-2">
                {% for item in item.subs %}
                  <li>
                    <a href="{{ item.link | relative_url }}">
                      {{ item.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>