<div id="sidebar-right">
    {% for item in site.data.sidebar-right %}
        {% if page.title == item.name %}
            <ul class="nav flex-column sub-1">
                {% for item in item.subs %}
                    <li>
                        <a href="{{ item.link }}">
                            {{ item.name }}
                        </a>
                        <ul class="nav flex-column sub-2">
                            {% for item in item.subs %}
                                <li>
                                    <a href="{{ item.link }}">
                                        {{ item.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
  </div>