@import 'base';
@import 'navbar';
@import 'sidebars';
@import 'content';
@import 'images';
@import 'codes';

%commons {
    transition: background 0.2s linear;
    position: absolute;
    top: 4rem;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

%copy-btn {
	background-repeat: no-repeat;
	background-size: cover;
	width: 12px;
    cursor: pointer;
}

html {
    overflow: hidden;
}

body, body[data-theme="light"] {
    color: $color-dm-bg-01;
    background: $color-lm-bg-01;
    @extend %commons;

    .table {
        color: $color-dm-bg-01;

        th {
            white-space: nowrap;
        }

        td, th {
            border-bottom: 1px solid $color-black-trans-10;
            border-top: none;
        }
    }

    hr {
        border-top: 1px solid $color-black-trans-10;
    }

    a, a:hover {
        color: $color-pink-01;
    }
}

body[data-theme="dark"] {
    color: $color-lm-bg-02;
    background: $color-dm-bg-01;
    @extend %commons;

    .table {
        color: $color-lm-bg-02;

        th {
            white-space: nowrap;
        }

        td, th {
            border-bottom: 1px solid $color-white-trans-30;
            border-top: none;
        }
    }

    hr {
        border-top: 1px solid $color-white-trans-30;
    }

    a, a:hover {
        color: $color-cian-01;
    }
}

#wrapper {
    overflow-x: hidden;
}

// Scroll
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: $color-purple-01; 
}

::-webkit-scrollbar-thumb:hover {
	background: $color-purple-02; 
}